<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link text-white" [routerLink]='["/authentication/profile"]' title="Налаштувати профіль">Вітаємо {{ userName | async }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Вийти">Вийти</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
    <!--<li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Зареєструватися</a>
    </li>-->
    <li class="nav-item">
        <a class="nav-link text-white" [routerLink]='["/authentication/login"]' title="Увійти">Увійти</a>
    </li>
</ul>
